@import "tailwindcss";
@theme {
  --color-primary: #100f0f;
  --color-text: #d7d7d7;
  --color-button: #BD1A1A;
  --color-secondary: #BD1A1A;
  --color-card: #1E1E1E;
}
body{
  font-family: Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.card{
  box-shadow: 4px 4px 1px;
}